#container
{
	width: 960px;
    margin: auto;
}
#buttons
{
	width: 30%;
	margin: auto;
	padding: 10px 10px;
}
#box
{
    overflow: auto;
    width: 800px;
    margin: auto;
}
.square
{
    float: left;
    border: 1px solid white;
    background-color: black;
}
